@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.markdown-section>:first-child{
    display: none;
}

.anchor-link {
    display: none;
}

#ipython-notebook .interact-button {
    background-color: #477DCA;
    border-radius: 3px;

    display: inline-block;
    margin-top: 2em;
    padding: 0.4em 1em;

    font-size: 1.2em;
    color: white;
    font-weight: 700;
}
